*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* * is used to target all the element */

html,body{
    width: 100%;
    height:100%;
}
#map{
    width:100%;
    height:100%;
}

.fa i {
    font-size: 30px !important;
    color: #271b99; 
  }